name: Deploy FastAPI to Azure

on:
  push:
    branches:
      - main   # triggers deployment when you push to main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login via Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: eduminds-backend      # your Azure Web App name
          slot-name: production
          package: .
