- name: Login to Azure
  uses: azure/login@v2
# ...
- name: Azure Login
  uses: azure/login@v1
  with:
    client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
    tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
    subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}
    creds: ${{ secrets.AZURE_CREDENTIALS }}
