name: Build and deploy Python app to Azure Web App - eduminds-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Create virtual environment and install dependencies
        run: |
          python -m venv venv
          if [ -f "venv/bin/activate" ]; then
              source venv/bin/activate   # Linux/macOS
          else
              .\venv\Scripts\activate    # Windows
          fi
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt
        shell: bash

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CFC1F65E35474798B4CD45D710D12CF0 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_21B79FA182E840258E20B3801142C7CC }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C6C1AF68C1D24FB698B9427A8AC256AE }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: eduminds-backend
          slot-name: Production
